<div id="exam">
    <div id="exam-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="exam-form" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column">
            <div class="container">
                <form [formGroup]="form" class="exam-form">
                    <div class="form">
                        <mat-form-field>
                            <input matInput placeholder="Text" formControlName="text" maxlength="1000">
                        </mat-form-field>
                    </div>
                    <div class="form">
                        <mat-form-field>
                            <input matInput placeholder="Subtext" formControlName="subtext" maxlength="1000">
                        </mat-form-field>
                    </div>

                    <div mat-dialog-actions style="margin-top: 10px;">
                        <button mat-raised-button color="primary" (click)="submit()"
                            style="width: 100%;">Submit</button>
                    </div>
                </form>
                <br />
                <mat-label class="success" *ngIf="result">Result: {{result}}</mat-label>
                <mat-label class="error" *ngIf="errorMessage">{{this.errorMessage}}</mat-label>
            </div>     
        </div>
    </div>
</div>