#exam {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: mediumpurple;
    background-size: cover;

    #exam-form-wrapper {
        margin: 8%;
        
        .logo {
            margin-bottom: 20px;
            width: 100%;
            min-width: 200px;
            max-width: 300px;
        }

        #exam-form {
            width: 100%;
            max-width: 400px;
            padding: 25px;
            background: #ffffff;
            text-align: center;
            margin: auto;

            form {
                width: 100%;
                text-align: left;

                mat-form-field {
                    width: 100%;
                }

                .submit-button {
                    width: 220px;
                    margin: 16px auto;
                    display: block;
                }
            }
        }
    }
}

.success {
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 20px;
}